################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApplication1/.vs/WindowsFormsApplication1/v14/.suo
